{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>About A Safe Place for Servers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/marastyle.css">
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>LinkedIn + Restaurants = DinedIn</h1>
    <p>It's time for a professional place for restaurant workers to exlore employment options in the industry!</p>  
</div>

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navigation Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="join.html">Join</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="rants.html">View Rants</a>
      </li>       
    </ul>
  </div>  
</nav> -->

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Us</h2>
      <p>Over the years, there have been countless websites created with the goal to help people find employment in their area. We have
          taken this idea and expanded on it. We have created a place where those who work in the restaurant industry can search for jobs
          in their area at restaurants while also seeing an employer rating given by current and past employees to determine if the restaurant
          has an environment they wish to work in. 
        <br><br>
        There is another side to this. Restaurant owners can rate past employees, post job openings, and review resumes from 
        current candidates. The goal is to increase the amount of positive and professional work environments in the restaurant industry by having
        staff and owners hold each other accountable in a non-confrontational and professional manner.
        </p>        
        
      </div>
      <div class="col-sm-8">
          <h2>An Example of What We Are:</h2>        
          <p>A server, let's call him John, can make a profile, log in, and start looking for jobs at restaurants in his selected area. At the 
              same time, a new restaurant opens up and makes a profile and begins taking resumes from interested potential employees.
              Let's say that since both John and this new restuarant are new and do not have ratings yet, they take a chance on each other.
              The owner or manager of the new restaurant can now certify on the site that John works at that restaurant. John can now give a 
              completely anonymous review of what it is like to work for that restaurant to inform others of the work environment.
              <br><br>
              If John leaves for whatever reason, the owner or manager can then certify that John no longer works there and give him a rating
              as an employee that could potentially help him recieve another job in the industry.
              <br><br>
              It is crucial that we all hold each other up to higher standards to improve the overall functionality and professionalism of the industry.
          </p> 
              
      </div>
      </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Contact Us</h2>
      <p>If you have any questions please feel free to contact us through the following methods: <br>Phone: 012-345-6789<br>Email: anemail@adomain.com</p>
      
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Disclosure: We are not responsible for literally anything, unless its good! ;)</p>
</div>

</body>
</html>

{% endblock content %}