{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DinedIn</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/marastyle.css">
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>LinkedIn + Restaurants = DinedIn</h1>
  <p>It's time for a professional place for restaurant workers to exlore employment options in the industry!</p> 
</div>

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navigation Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="home.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="join.html">Join</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="rants.html">View Rants</a>
      </li>  
    </ul>
  </div>  
</nav> -->

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12">       
      <h2>Welcome!</h2>
      <p>There are many pros and cons to working in the resturant industry. One of the biggest set backs is not knowing which restaurants are hiring and if those restaurants are even a decent place to work.</p>
      <p>There is also another side to that coin; restaurant managers and owners like to employ professional, hardworking staff, which can be hard to find.</p>
      <p>To learn more about DinedIn, click on the About link above, because we all know that no one wants a situation like the one portrayed in the video below.</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/BjNuuBAANBk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Disclosure: We are not responsible for literally anything, unless its good! ;)</p>
</div>

</body>
</html>
{% endblock content %}